extends base

block content
  p(style="margin-top: 50px; text-align: center; font-size:28px; font-wight: bold") Hello #{firstName},
  p(style="margin-bottom: 50px; text-align: center; font-size:28px; font-wight: bold") Your account has been activated successfully!
  a(href=`/login`, target='_blank' style="border-radius: 5px;box-sizing: border-box;display: inline-block;font-size: 15px;/* margin: 0; */padding: 12px 25px;text-decoration: none;text-transform: capitalize;background-color:#55c57a;border-color: #55c57a;color:#ffffff;text-align: center;width: 143px;margin: 0 auto 50px auto;") Login Now!